@import 'variables';

@mixin central{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.card-container{
    margin-bottom: 5rem;
}

.back{
    position: relative;
    background:$light-blue;
    box-sizing: border-box;
    clip-path: polygon(0 10%, 15% 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 15% 0, 100% 0, 100% 100%, 0 100%);
    border-radius: 1.2rem;
    width: 33rem;
    height: 49rem;
    cursor: pointer;    

    &:hover{
        background:$blue-hover;
        .card__box{
            background:$blue-hover;
        }
    }
}

.card{
    content: '';
    color:$dark-grey-color;
    top:.5rem;
    left:.5rem;
    box-sizing: border-box;
    position: relative;
    width: 32rem;
    height: 48rem;
    border-radius: 1.2rem;
    -webkit-border-radius: 1.2rem;
    background-color:$bg-color;
    background-image: url("src/assets/imgs/cat.png");
    background-size: 100%;    
    background-position: bottom -7.5rem left -2rem;
    -webkit-background-position: bottom -70px left -20px;
    background-repeat: no-repeat;
    font-family: 'Trebuchet-ms';
    font-weight: bold;
    padding: 2.5rem 4.5rem;
    clip-path: polygon(0 10%, 15% 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 15% 0, 100% 0, 100% 100%, 0 100%);

    @supports(background-blend-mode: multiply){
        background-blend-mode: multiply;
    }

    &__heading{
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom: 2rem;
    }
  
    &__title{
       font-size: 4.8rem; 
       letter-spacing: normal; 
       color: $black-color; 
    }
    &__description{
        font-size: 2.4rem;
        margin-bottom: 2rem;
        color: $black-color;
    }
    &__productPortions, &__bonus{
        font-size: 1.4rem;
        line-height: 1.6;
        font-weight: normal;    
    }

    &__link{
        color: $light-blue;
        text-decoration: none;
        border-bottom: 1px dashed $light-blue;
        
        &:hover{
            color:$blue-hover;
            border-bottom: 1px dashed $blue-hover;
        }
    }  

    &__box{
        position: absolute;
        bottom:5%;        
        right:5%;
        display: block;
        width:8rem;
        height:8rem;
        border-radius: 50%;
        background-color:$light-blue;
        color: $white-color;

        .weight{
            position: relative;
            font-size: 4rem;
            font-weight: normal;
            text-align: center;
            line-height: .6;
            @include central;

            &-units{
                font-size: 2.1rem;
            }            
        }
    }

    &__text{
        position: relative;
        font-size: 1.3rem;
        line-height: 1.6;
        color: #ffffff;
        text-align: center;
        filter: drop-shadow(0px 1px 0.5px #000000);
        font-family: 'Trebuchet-ms';
        margin-top: 2rem;
        
    }
}

.back.selected{
    background:$red-color;

    .card>.card__box{
        background:$red-color;
    }    
}

.back.selected.accepted{
    &:hover{
        background: $red-hover-bg;
        .card__heading{
            position: relative;
            color: transparent;
        }
        .card__heading::after{
            position: absolute;
            color: $red-hover-text;
            top: 0;
            left: 0;           
            content: 'Котэ не одобряет?';
        }
        .card>.card__box{
            background: $red-hover-bg;
        }
    }
}


.back.noProduct{        
    pointer-events: none;
    background: $light-grey-color;  
    background-size: cover;
    .card{
        color:$light-grey-color;
        filter: contrast(0.4) brightness(1.5);

        &__title, &__description{
            color:$light-grey-color;
        }
    }   
}
.back.noProduct>.card>.card__box{
    background:$light-grey-color;
}


